<%- include('header'); -%>
<p class="about">
 Hi G.I.T is here to make your life  easier
</p>

<div class="container">
  <h1>About Get It Together</h1>
  <p>Welcome to Get It Together, your ultimate task management tool designed to help you organize your day and work tasks efficiently. Our goal is to provide you with a seamless experience for managing your daily responsibilities and work-related activities.</p>

  <h2>Our Mission</h2>
  <p>At Get It Together, our mission is to empower individuals to take control of their tasks and maximize productivity. We understand the challenges of balancing personal and work commitments, which is why we offer two distinct lists to cater to your different needs:</p>

  <h3>Day-to-Day List</h3>
  <p>Life can get busy, and staying on top of your daily tasks can be overwhelming. Our Day-to-Day List is designed to help you manage your personal responsibilities, errands, and activities. Whether it's grocery shopping, appointments, or other to-dos, our platform ensures you never miss a beat.</p>

  <h3>Work List</h3>
  <p>For professionals seeking an organized approach to managing their work tasks, our Work List is here to streamline your workflow. Keep track of projects, deadlines, meetings, and assignments all in one place. Stay focused and accomplish more with our tailored work-oriented features.</p>

  <h2>Why Choose Get It Together?</h2>
  <p>We stand out in the crowded world of task management apps because of our user-centric approach. Here's what sets us apart:</p>

  <ul class="aboutList">
      <li>Simple and Intuitive Interface: Our user-friendly interface makes it easy to start using our platform without a steep learning curve.</li>
      <li>Dual List System: With dedicated Day-to-Day and Work Lists, you can keep your personal and professional tasks separate and organized.</li>
      <li>Customization: Tailor your lists to your preferences with customizable categories, labels, and due dates.</li>
      <li>Sync Across Devices: Access your lists from anywhere, whether you're on your computer, tablet, or smartphone.</li>
      <li>Collaboration: Collaborate with team members, friends, or family by sharing tasks and lists.</li>
  </ul>

  <h2>Start Getting It Together Today!</h2>
  <p>Ready to take control of your tasks and boost your productivity? Sign up for Get It Together today and experience the benefits of a well-organized life and work routine.</p>
</div>
<%- include('footer'); -%>