<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/0d13ad880d.js" crossorigin="anonymous"></script>
    
    
</head>
<body>
   
        <nav>
            <div class="navbar">
                <div class="logo"><img class="logoImg" src="images/large.jpg" alt="" srcset=""></div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    
                    <li><a href="/contact">Contact</a></li>
                </ul>
                
            </div>
        </nav>