<%- include('header'); -%>

<div class="homeHeader">
    <h1>Hi Welcome to Get-It-Together</h1>
</div>

<div class="btns">
    <a class="btn" href="/todo">Todo List</a>
    <a class="btn"  href="/work">Work List</a>
        <br>
</div>

<div class="qoute">
    <p class="qouteText">"Winner is a dreamer Who never gives up"</p>
    
    <p style="padding-bottom: 60px;padding-top: 0px;">-Nelson Mandela</p>
</div>

<%- include('footer'); -%>